{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn", {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true,
        "allowHigherOrderFunctions": true,
        "allowDirectConstAssertionInArrowFunctions": true,
        "allowConciseArrowFunctionExpressionsStartingWithVoid": true
      }
    ],
    "@typescript-eslint/prefer-function-type": "warn",
    "array-bracket-newline": "warn",
    "max-len": [
      "warn",
      {
        "code": 110
      }
    ],
    "no-return-await": "warn",
    "prefer-arrow-callback": "warn",
    "sort-keys": "warn",
    "sort-vars": "warn",
    "valid-typeof": "warn",
    "yoda": "warn"
  }
}